*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: grid;
    width: 100%;
    min-height: 100vh;
    place-items: center;
    position: relative;
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -2;
}
header::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: -1;
}
h1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 45px;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    z-index: 999;
}
.hide-pre-loader{
    visibility: hidden;
    z-index: -999;
}
.preloader img{
    width: 100%;
    height: 100%;
}
.swich-btn{
    position: absolute;
    bottom: 7%;
    left: 7%;
    width: 7rem;
    height: 2rem;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    border: none;
    transition: var(--transition);
    color: blue;
}
.swich-btn span{
    display: inline-block;
    font-size: 0.85rem;
    cursor: pointer;
    text-transform: capitalize;
}
.switch{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: blue;
    border-radius: 10px;
    margin: 0;
    display: block;
    transition: ;
}
.slide .switch{
    left: 50%;
}
